@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root{
    --fonte-site: "Dosis";
    --cor-cinza-escuro: #2F2F2F;
    --cor-de-fundo: #F8F8F8;
    --cor-azul-claro: #4299e1;
    --cor-laranja: #F28500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fonte-site);
    background-color: var(--cor-de-fundo);
    scroll-behavior: smooth;
}