.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container__apresentacao{
    flex-direction: column;
    width: 50%;
}

.apresentacao__nome{
    color: var(--cor-azul-claro);
    font-size: 2rem;
}

.apresentacao__texto{
    color: var(--cor-cinza-escuro);
    font-weight: 500;
    font-size: 1.2rem;
}

.imagem_programador{
    width: 20rem;
    height: 20rem;
}

.div_skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.h1_titulo{
    color: var(--cor-azul-claro);
    text-align: center;
    font-size: 2.2rem;
    margin-top: 3rem;
}

.section_projetos{
    margin-top: 9rem;
}

.div_projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    border-top: solid 0.1rem lightgray;
    height: 3rem;
    text-align: center;
    margin-top: 4rem;
}

.footer_direitos{
    color: var(--cor-cinza-escuro);
    margin-top: 1rem;
}

@media (max-width: 438px) {
    .div_skills{
        gap: 1rem;
    }
    
}


